.details-card-image {
  height: 40em;
  width: 31em;
  margin-right: 5em;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.all-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.both-but {
  margin-left: 2em;
  margin-right: 2em;
}

.full-heart, .empty-heart {
  height: 3em;
  width: 5em;
  border: 0.1em solid black;
}

.mini-fly {
  height: 0.5em;
  width: 1em;
  margin-left: 0.5em;
}

.details-details-container {
  font-size: 1.9em;
  width: 15em;
}