.character-image {
  height: 25em;
  width: 20em;
}

.character-name {
  text-align: center;
}

.card {
  height: 25em;
  width: 20em;
  font-weight: 400;
  margin-bottom: 7em;
  margin-left: 2em;
  margin-right: 2em;
}